<<<<<<< HEAD
.logo {
    float: left;
    margin-right: 5px;
     width: 80px;
    height: 100px;

  }

  .logo2{
    height: 50px;
    width: 50px;
    margin-left: 20px;
    margin-top: 15px;
  }
  
  .search-bar {
   
    width: 50px;
    height:50px;
    
  }
  
  .principal-container{

    width: 100%;
    height: 100%;
  } 

  .search-barlogo{
 display: flex;
 flex-direction: row;
 align-items: center;
 padding-top: 20px;
  }

  .search2 {

    width: 285px;
    height: 30px;
    border-radius: 20px;
    background-color: #F5F5F5;
    border: none;
    background-image: url('../../../image/searching.png');
    background-repeat: no-repeat;
    background-position: left;


  }


  .Stories2{ display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;


  }

  .post, .post2 {
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #67d9fe;
    border-radius: 10px;
    margin-bottom: 30px;
    background-color: #faf9f9;
  }
  
  .post-header {
    display: flex;
    align-items: center;
  }
  
  .post-header img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .post-content img {
    width: 100%;
    max-height: 500px;
    object-fit: cover;
    margin-top: 20px;
    padding-bottom: 10px;
  }
  
  .post-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
  }
  
  .likes,
  .comments {
    display: flex;
    align-items: center;
  }
  
  
.buttons{

    transition: transform 0.3s ease;
     opacity: 0.8;
     transition: opacity 0.3s ease;
      opacity: 1;
      
    
}
.like{
    padding-right: 5px;
    
}
.coment{
    padding-right: 5px;
}
.Share{
    padding-right: 230px;
}

.M{
    padding-right: 10px;
    font-weight: bolder;
}


@media screen and (min-width: 1512px) {





  }
=======
.containerLeft{
    background-color: #EEEEEE;
    width: 30%;
    height: 100%;

}
#img_profile{
    border-radius: 100%;
    border:   blueviolet;
    width: 200px;
    height: 200px;
    padding: 50px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 30px;
}
#user_name{
margin-top: 0px;
justify-content: center;
align-items: center;
text-align: center;
}
.profile{
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.profile * {
    margin-right: 10px;
}
.interactions{
    padding: 50px;
    justify-content: center;
    align-items: center;
    text-align: left;
}
#color{
    color: #77D4FF;
}
.containerRigh{
width: 70%;
height: 100%;
margin: 5px;

}


.search{
   background-color: #c9c5c596; 
   width: 300px;
   border-radius: 5px 5px  5px  5px  ;
   height: 20px;
   
   
}
#h5search{
    color: #928f8f;
    margin-left: 20px;
    margin-top: 6px;
}
button{
margin-left: 250px;
align-items: center;
  background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  padding: 19px 24px;
  width: 120px;
  height: 30px;
 
 
}
.containgeneral{
    display: flex;
    
}
.contenido1{
    display: flex;
    margin-left: 10px;
}
.histories{
    display: flex; 
    margin-top: 50px;
   
}
#img_histories{
    border-radius: 100%;
    border:   blueviolet;
    width: 50px;
    height: 50px;
    margin-left: 30px;
}
.publication_top{
    display: flex; 
   

}

.publication{
    margin-top: 50px;
  background-color: #928f8f25;
  border-radius: 7px 7px 7px 7px;
 border: 1px solid blueviolet ;
    width: 450px;
    height: 600px;
    margin-left:  28%;
}
#img_publication{
    border-radius: 0%;
    width: 400px;
    height: 400px;
    margin-left:  5%;
   
}
#time{
   margin-left: 100px;
   justify-content: center;
   align-items: center;
   text-align: center;
}
#user_name1{
    margin-left: 30px;
    justify-content: center;
    align-items: center;
    text-align: center;
    }
#menu{
    margin-left: 30px;
}
#likes{
    margin-left: 5%;
    
    

}
#description{
    margin-left: 5%;
}
.guardar{
    margin-left: 70%;
}
.botones{
    margin-left: 5%;
}
.menu_interactions{
    display: flex;
}
.intercation_img{
    width: 30px;
    height: 40px;
}





>>>>>>> 30ae6dd21bc00df81c4acf678bf8b672dc01897a
